<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Internet store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>

<header th:insert="block/header :: header"></header>

<form action="/adminCabinet/adminUser">
    <button type="submit">User Control</button>
</form>

<form action="/adminCabinet/adminOrder">
    <button type="submit">Order Control</button>
</form>

<form action="/adminCabinet/adminProduct">
    <button type="submit">Product Control</button>
</form>
<div>
    <h4>Control User</h4>
    <div th:each="users : ${users}">
        <form th:action="'/adminCabinet/' + ${users.getId()} + '/updateUsDataBase'" method="post">
            <input type="text" name="username" th:value="${users.username}" placeholder="User email">
            <input type="text" name="role" th:text="${users.getRoles()}" placeholder="User role">
            <button type="submit">Update</button>
        </form>
    </div>
</div>

</body>
</html>