<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Bucket</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>

<header th:insert="block/header :: header"></header>

<h4>Bucket</h4>

<div>
    <div th:each="product : ${product}">
        <p th:text="${product.getId()}"/>
        <p th:text="${product.getCategory()}"/>
        <p th:text="${product.getProducer()}"/>
        <p th:text="${product.getPrice()}"/>

        <form th:action="'/bucket/' + ${product.getId()} + '/deleteInBucket'" method="post">
            <button type="submit">Delete in the basket</button>
        </form>
    </div>
</div>
<h5>Total Price</h5>
<h5 th:text="${totalPrice}"></h5>
<form action="/bucket/buy" method="post">
    <button type="submit">To buy</button>
</form>


</body>
</html>