<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Identification Person</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div>
    <h3>Identification Person</h3>
    <form action="/login" method="post">
        <input type="text" name="email" placeholder="email">
        <input type="text" name="password" placeholder="password">

        <button type="submit">Enter</button>
    </form>
    <div th:text="${message}"/>
    <a href="/registration">Registration person</a>
</div>

</body>
</html>