<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Internet store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>

<!--<header th:insert="block/header :: header"></header>-->

<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Header store</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <form th:action="@{/logout}" method="post">
                <a class="p-2 text-dark" href="/">Priority Store</a>
                        <a class="p-2 text-dark" href="/userCabinet">User Cabinet</a>
                <a class="p-2 text-dark" href="/adminCabinet">Admin Cabinet</a>
                <a class="p-2 text-dark" href="/bucket">Bucket</a>
                <input type="submit" value="Sign Out"/>
            </form>
        </nav>
    </div>
</div>

<h4>Update information user</h4>
<div>
    <div th:each="product : ${products}">
        <p th:text="${product.getId()}"/>
        <p th:text="${product.getProducer()}"/>
        <p th:text="${product.getCategory()}"/>
        <p th:text="${product.getModel()}"/>
        <p th:text="${product.getPrice()}"/>
        <p th:text="${product.getDescription()}"/>
        <form th:action="'/bucket/' + ${product.getId()} + '/putInBucket'" method="get">
            <button type="submit">Put in the basket</button>
        </form>
    </div>
</div>

</body>
</html>