<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Internet store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>

<header th:insert="block/header :: header"></header>

<h4>Update information user</h4>
<div>
    <div th:each="product : ${products}">
        <p th:text="${product.getId()}"/>
        <p th:text="${product.getProducer()}"/>
        <p th:text="${product.getCategory()}"/>
        <p th:text="${product.getModel()}"/>
        <p th:text="${product.getPrice()}"/>
        <p th:text="${product.getDescription()}"/>
        <form th:action="'/bucket/' + ${product.getId()} + '/putInBucket'" method="get">
            <button type="submit">Put in the basket</button>
        </form>
    </div>
</div>

</body>
</html>