<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Header store</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <form th:action="@{/logout}" method="post">
                <a class="p-2 text-dark" href="/">Priority Store</a>
                <a class="p-2 text-dark" sec:authorize="hasRole('ROLE_ADMIN')" href="/userCabinet">User Cabinet</a>
                <a class="p-2 text-dark" href="/adminCabinet">Admin Cabinet</a>
                <a class="p-2 text-dark" href="/bucket">Bucket</a>
                <input type="submit" value="Sign Out"/>
            </form>
        </nav>
    </div>
</div>